@media only screen and (max-width: 768px) {

    aside{
    float:left;
    width:30%;
    
    }
    aside #headlines{margin-top:5%;
        text-align: center;
        margin-bottom:8px;
        font-family: sans-serif;
        font-weight:bold;
        
    }
    
    aside ul{
    padding-left:0px;
    margin:0;
    list-style-type:none
    }
    aside li{
    padding:8px 0 8px 5px;
    border-bottom: #E8E8E8 solid 2px;
    }
    
    aside a{text-decoration: none;
        color:#222222;
        font-family:sans-serif;
        font-size: 14px;
        color:blue;
    }
    aside a:hover{
        text-decoration: underline;
    }
    aside #age_of_time{
        color:#838383;
        font-family:sans-serif;
        font-size: 12px;
        margin-top:6px;
    }
    
    /* .site_nav {
        
        position:absolute;
        top:89px;
        left:5.5%;
        color:red;
    } */
    
    .site_nav a{
        text-decoration: none;
        
        font-size: 15px;;
    }
    .latest_stories{
        font-family: sans-serif;
        font-size: larger;
        text-align: center;
        background-color:#DCDCDC;
       
        padding:6px 0;
        border-bottom: #282A35 solid 3px;;
    }
    
    .search-results ul{
        margin: 0;
        padding-left: 0;
    }
    
    .search-results li{
        list-style: none;
        margin-bottom:3px;
    }
 
    .login-form{
      border-top:5px solid #ccc;
      margin-top:10px;
      padding-top:10px;
    }
    .not-a-member{
      float:right;
      font-size:15px;
      padding-top:7px;
    }
    
    .login{
        font-family: Arial, Helvetica, sans-serif;
    }
    .login form {border: 3px solid #f1f1f1;}
    
    .login input[type=text], .login input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    .login button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    .login button:hover {
      opacity: 0.8;
    }
    
    .login .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    .login img.avatar {
      width: 20%;
      border-radius: 50%;
    }
    
    .login .container {
      padding: 16px;
    }
    
    .login span.psw {
      float: right;
      padding-top: 16px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        .login span.psw {
         display: block;
         float: none;
      }
      .login .cancelbtn {
         width: 100%;
      }
    }



}






@media only screen and (min-width: 768px) {
.wrap{

width:90%;
margin:auto;

}

.not-a-member{
  float:right;font-size:15px;
}

.content{
background:white;
float:left;
width:65%;
overflow: hidden;
font-family: sans-serif;
min-height: 600px;
margin-right:5%;
min-height: 2000px;

}

aside{
float:left;
width:30%;

}
aside #headlines{margin-top:5%;
    text-align: center;
    margin-bottom:8px;
    font-family: sans-serif;
    font-weight:bold;
    
}

aside ul{
padding-left:0px;
margin:0;
list-style-type:none
}
aside li{
padding:8px 0 8px 5px;
border-bottom: #E8E8E8 solid 2px;
}

aside a{text-decoration: none;
    color:#222222;
    font-family:sans-serif;
    font-size: 14px;
    color:blue;
}
aside a:hover{
    text-decoration: underline;
}
aside #age_of_time{
    color:#838383;
    font-family:sans-serif;
    font-size: 12px;
    margin-top:6px;
}

.site_nav {
    
    position:absolute;
    top:89px;
    left:5.5%;
    color:red;
}
.site_nav a:hover{
    color:blue;
}
.site_nav a{
    text-decoration: none;
    color:#282A35;
    font-size: 15px;;
}
.latest_stories{
    font-family: sans-serif;
    font-size: larger;
    text-align: center;
    background-color:#DCDCDC;
   
    padding:6px 0;
    border-bottom: #282A35 solid 3px;;
}

.search-results ul{
    margin: 0;
    padding-left: 0;
}

.search-results li{
    list-style: none;
    margin-bottom:3px;
}
.content{
    border-top:5px #ccc solid;
    padding-top:20px;
}



.login{
    font-family: Arial, Helvetica, sans-serif;
}
.login form {border: 3px solid #f1f1f1;}

.login input[type=text], .login input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login button:hover {
  opacity: 0.8;
}

.login .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.login img.avatar {
  width: 20%;
  border-radius: 50%;
}

.login .container {
  padding: 16px;
}

.login span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .login span.psw {
     display: block;
     float: none;
  }
  .login .cancelbtn {
     width: 100%;
  }
}
}
