@media only screen and (max-width: 768px) {
    .wrap{
        /* min-width:400px; */
        width:90%;
        margin:auto;

        /* overflow:hidden;  */
    }
    .content{
        background:white;
        float:left;
        width:68%;
        overflow:hidden;
        margin-right: 2%;
    }

    aside{
        /* background:#E8E8E8; */
        float:left;
        width:30%;
        

    }
    .updates{
        max-height:1000px;
        min-height: 1000px;
        overflow: scroll;

    }
    aside #headlines{margin-top:5%;
        text-align: center;
        margin-bottom:8px;
        font-family: sans-serif;
        font-weight:bold;
        
    }

    aside ul{
        padding-left:0px;
        margin:0;
    }
    aside li{
        padding:8px 5px;border-bottom: #E8E8E8 solid 2px;

    }
    .selected{
        border-left: green 5px solid;
    }
    aside ul{
        list-style-type:none
        }
    aside a{text-decoration: none;color:blue;font-family:sans-serif;font-size: 14px;}

    #age_of_time{color:#b5b5b5b5;font-family:sans-serif;font-size: 11px;margin:6px 0;}


    #action_menus{
        display: none;
        color: red;
    } 


    #action_list li{
        display: inline;
        padding-right:2%;
        
    }
    #action_list ul{
        margin-bottom:0;
        margin-top: 9px;
        padding-left:0;
        margin-bottom:15px;
    }
    #action_list a{
        text-decoration: none;color:blue;
    }

    label{
        display: block;
    }

    form ul{
        list-style: none;
    }

    #subject, #content,#img_path,#source,#keywords,#author{
        width:97%;
        
    }
    #form_content ul {
        padding-left: 0;
        margin-bottom:0
    }

    #form_content li {
        padding-bottom: 10px;
    }

    .red_color{color:red;}
    #successfully_saved{
        color:green;
        font-weight: bold;
        font-size: larger;
    }

    .hide_form{
        display: none;
    }
    .hide{
        display:none;
    }

    /* #preview_content img:first-child {
        float:left;margin:0 2% 2% 0;
    }
    #preview_content img:not(:first-child){
        float:left;
        margin:2% 2% 2% 0;
    }

    #preview_content iframe:first-child {
        float:left;
        margin:0 2% 2% 0;
    }
    #preview_content iframe:not(:first-child){
        float:left;margin:2% 2% 2% 0;
    } */
    #preview_content img,#preview_content iframe{
        max-width: 100%;
        /* max-height: 250px; */
    }

    #preview_content ul{
        margin: 0;
    }

    #preview_content{
        line-height: 23px;
    }
    #preview_content a{
        color:green;
        text-decoration: none;
    }



    #preview{
        font-family: sans-serif;
    }

    .alert_design{
        text-align: center;
        margin-bottom:0;
        padding:10px 0;
        width:360px;
        color:#fff4a3;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #282A35;
        margin-bottom: 10px;   
    }

    form input[type=submit],.no_publish a{
        color:white;
        background-color: green;
        padding:5px 8px;
        border-radius:10px;
        border:0;

    }
    form input[type=submit]:hover{
        cursor: pointer;
    }



    .wrapper-confirmatin{
        background-color: #AFE1AF;
        border: 2px solid #4CAF50;
        width:500px;
        border-radius: 10px;
        margin-bottom:10px;
    }
    .title-confirmation{
        text-align: center;
        padding:5px 0;
        color:white;
        background-color: green;
        border-radius: 10px;
    }

    .body-confirmation{
        margin:5px 0 20px 5px;
        color:red;
    }
    .YesNo{
        position:relative;
        margin-bottom:20px;
    }
    .Yes a,.No a{
        background-color: green;
        width:50px;
        padding:6px 15px;text-align: center;
        border-radius:5px;
    }
    .Yes{
        margin-left:300px;
    }
    .No{
        position:absolute;
        top:0px;right:15px;
    }
    .YesNo a{
        text-decoration: none;
        color:white;
    }

    .no_publish a{
        text-decoration: none;
    }

    .Yes_publish{
    margin-left:20px;
    }
    .no_publish{
        position: absolute;
        top: 15px;
        right:20px
        
    }

    .publish_date_time_update{
        margin:0 20px;
    }

    .yesno_publish{
        position: relative;
        border: green 2px solid;
        margin:15px 0;
        width:200px;
        padding:10px 0;
        left:250px;
    }

    .yellow_color_bold{
        /* color:#FFF4A3; */
        color:yellow;
        font-size: 50px;
    }

    .red_color_bold{
        /* color:#FFF4A3; */
        color:green;
        font-size: 50px;
    }

    .visibility_false{
        visibility: hidden;
    }
    .visibility_true{
        visibility:visible;
    }
    .order_by{
        border:#282A35 solid 5px;
        margin-bottom:10px;
        padding-bottom: 10px;
    }
    .order_by_heading{
        padding-left: 60px;
        background-color: #282A35;
        color:white;
    }

    #submit_order_by{
        margin-left: 140px;
        margin-top:5px;
    }
    .asc{
        padding:0 25px;
    }   
    
    /* blockquote{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
        padding-left: 15px;
        border-left: 3px solid #ccc;
      } */
      /* blockquote:before {
        content: '“';
      }
      blockquote:after {
        content: '”';
      } */
      q{
        font-style: italic;
      }
} 



@media only screen and (min-width: 768px) {
    .wrap{
        /* min-width:400px; */
        width:90%;
        margin:auto;

        /* overflow:hidden;  */
    }
    .content{
        background:white;
        float:left;
        width:68%;
        overflow:hidden;
        margin-right: 2%;
    }

    aside{
        /* background:#E8E8E8; */
        float:left;
        width:30%;
        

    }
    .updates{
        max-height:1000px;
        min-height: 1000px;
        overflow: auto;

    }
    aside #headlines{margin-top:5%;
        text-align: center;
        margin-bottom:8px;
        font-family: sans-serif;
        font-weight:bold;
        
    }

    aside ul{
        padding-left:0px;
        margin:0;
    }
    aside li{
        padding:8px 5px;border-bottom: #E8E8E8 solid 2px;

    }
    .selected{
        border-left: green 5px solid;
    }
    aside ul{
        list-style-type:none
        }
    aside a{text-decoration: none;color:blue;font-family:sans-serif;font-size: 14px;}

    #age_of_time{color:#b5b5b5b5;font-family:sans-serif;font-size: 11px;margin:6px 0;}


    #action_menus{
        display: none;
        color: red;
    } 


    #action_list li{
        display: inline;
        padding-right:2%;
        
    }
    #action_list ul{
        margin-bottom:0;
        margin-top: 9px;
        padding-left:0;
        margin-bottom:15px;
    }
    #action_list a{
        text-decoration: none;color:blue;
    }

    label{
        display: block;
    }

    form ul{
        list-style: none;
    }

    #subject, #content,#img_path,#source,#keywords,#author{
        width:97%;
        max-width:97%;
    }
    #form_content ul {
        padding-left: 0;
        margin-bottom:0
    }

    #form_content li {
        padding-bottom: 10px;
    }

    .red_color{color:red;}
    #successfully_saved{
        color:green;
        font-weight: bold;
        font-size: larger;
    }

    .hide_form{
        display: none;
    }
    .hide{
        display:none;
    }

    /* #preview_content img:first-child {
        float:left;margin:0 2% 2% 0;
    }
    #preview_content img:not(:first-child){
        float:left;
        margin:2% 2% 2% 0;
    }

    #preview_content iframe:first-child {
        float:left;
        margin:0 2% 2% 0;
    }
    #preview_content iframe:not(:first-child){
        float:left;margin:2% 2% 2% 0;
    } */
    #preview_content img{
        max-width: 100%;
        max-height: 600px;
        display: block;
        margin: auto;
    }

    #preview_content iframe{
        max-width: 100%;
        
        display: block;
        margin: auto;
    }
    #preview_content ul{
        margin: 0;
    }

    #preview_content{
        line-height: 23px;
    }
    #preview_content a{
        color:green;
        text-decoration: none;
    }



    #preview{
        font-family: sans-serif;
    }

    .alert_design{
        text-align: center;
        margin-bottom:0;
        padding:10px 0;
        width:360px;
        color:#fff4a3;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #282A35;
        margin-bottom: 10px;   
    }

    form input[type=submit],.no_publish a{
        color:white;
        background-color: green;
        padding:5px 8px;
        border-radius:10px;
        border:0;

    }
    form input[type=submit]:hover{
        cursor: pointer;
    }



    .wrapper-confirmatin{
        background-color: #AFE1AF;
        border: 2px solid #4CAF50;
        width:500px;
        border-radius: 10px;
        margin-bottom:10px;
    }
    .title-confirmation{
        text-align: center;
        padding:5px 0;
        color:white;
        background-color: green;
        border-radius: 10px;
    }

    .body-confirmation{
        margin:5px 0 20px 5px;
        color:red;
    }
    .YesNo{
        position:relative;
        margin-bottom:20px;
    }
    .Yes a,.No a{
        background-color: green;
        width:50px;
        padding:6px 15px;text-align: center;
        border-radius:5px;
    }
    .Yes{
        margin-left:300px;
    }
    .No{
        position:absolute;
        top:0px;right:15px;
    }
    .YesNo a{
        text-decoration: none;
        color:white;
    }

    .no_publish a{
        text-decoration: none;
    }

    .Yes_publish{
    margin-left:20px;
    }
    .no_publish{
        position: absolute;
        top: 15px;
        right:20px
        
    }

    .publish_date_time_update{
        margin:0 20px;
    }

    .yesno_publish{
        position: relative;
        border: green 2px solid;
        margin:15px 0;
        width:200px;
        padding:10px 0;
        left:250px;
    }

    .yellow_color_bold{
        /* color:#FFF4A3; */
        color:yellow;
        font-size: 50px;
    }

    .red_color_bold{
        /* color:#FFF4A3; */
        color:green;
        font-size: 50px;
    }

    .visibility_false{
        visibility: hidden;
    }
    .visibility_true{
        visibility:visible;
    }
    .order_by{
        border:#282A35 solid 5px;
        margin-bottom:10px;
        padding-bottom: 10px;
    }
    .order_by_heading{
        padding-left: 60px;
        background-color: #282A35;
        color:white;
    }

    #submit_order_by{
        margin-left: 140px;
        margin-top:5px;
    }
    .asc{
        padding:0 25px;
    }

    /* blockquote{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
        padding-left: 15px;
        border-left: 3px solid #ccc;
      } */
      /* blockquote:before {
        content: '“';
      }
      blockquote:after {
        content: '”';
      } */
      q{
        font-style: italic;
      }

      .img{
        position:relative;
        text-align: center;
        width:100%;
        display: inline-block;
        color:green;
      }
      .caption, .title{
        color:green;
        font-size: 12px;
        font-weight: bold;
        background-color: white;
        padding:2px;
       
        
        display: inline;
        
    }
}